html{
    scroll-behavior: smooth;
}

body{
    transition: 1s;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

footer{
    text-align: right;
    margin: 8px;
    padding: 12px;
    font-size: 0.7rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#f-link{
    text-decoration: none;
    color: white;
}

#f-link:hover{
    color: yellow;
}

.page-loader{
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}  

.main-content{
    display: block;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid gray;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    transition: 1s;
  }
  
  /* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*Navigation bar css*/
nav{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px gray;
}

ul{
    margin: 0%;
    list-style-type: none;
    overflow: hidden;
    padding: 3px;
}
li {
    float: right;
}

.item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-left: 14px;
    border-radius: 14px;
    text-decoration: none;
    transition: 0.5s;
}

#n-about{
    animation-delay: 0.2s;
}
#n-forecast{
    animation-delay: 0.4s;
}

li > a:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

/*Main content css*/
.main-icon{
    animation-delay: 0.8s;
    text-shadow: 2px 2px 2px #755b38;
}
.weather{
    animation-delay: 1s;
    text-shadow: 2px 2px 2px #755b38;
}
.city{
    animation-delay: 1.2s;
    font-weight: 600;
    text-shadow: 2px 2px 2px #755b38;
}
.temp{
    animation-delay: 1.4s;
    text-shadow: 2px 2px 2px #755b38;
}
.date{
    animation-delay: 1.6s;
    text-shadow: 2px 2px 2px #755b38;
}
.search{
    animation-delay: 1.8s;
}

#data-box{
    color: rgb(255, 251, 230);
    padding: 0%;
    text-align: center;
    padding: 20px;
    margin-top: 32px;
}
#data-box > h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 2px 2px 0px #898989;
}
#data-box > p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-shadow: 2px 2px 0px #898989;
}
#data-box > h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 4em;
    text-shadow: 2px 2px 0px #898989;
    margin: 24px 24px 48px 24px;
}

#input-box{
    text-align: center;
    padding: 0%;
}
#input-box > input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 50vh;
    outline: none;
    box-shadow: 0px 10px 31px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 31px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 31px -10px rgba(0,0,0,0.75);
}

/*data boxes CSS*/
.data-container{ /*main grid container*/
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    grid-gap: 0.8em;
    margin-top: 10vw;
}

.data-box{ /*boxes general class*/
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border-radius: 8px;
    padding: 14px;
    font-weight: 600;
    box-shadow: 2px 17px 24px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 17px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 17px 24px -4px rgba(0,0,0,0.75);
}

/*---------------------------------*/
/*General css*/

#general{
    grid-column: 1/2;
    grid-area: "general";
    padding: 5%;
    min-width: 0;
    min-height: 0;
}

#general-info {
    display: grid;
    grid-template-columns: auto auto;
}

#info-right{
    padding: 0%;
}
#info-right > h1{
    font-size: 72px;
    text-align: right;
    margin: 0%;
}

#g-location{
    font-size: 24px;
    margin: 0%;
}

#info-bottom{
    grid-column: 1/3;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 12px;
}

#info-bottom > #line{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.bottom-data{
    font-size: 14px;
}

/*---------------------------------*/
/*Forecast box data css*/

#forecast{
    grid-column: 2/4;
    grid-area: "forecast";
    min-width: 0;
    min-height: 0;
    padding-bottom: 2em;
}

#forecast-icon-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

#forecast-icon-container > div{
    width: 100%;
    transition: 0.5s ease-in-out;
}

#forecast-icon-container > div:hover{
    background-color: hsl(0, 0%, 95%);
    border-radius: 4px;
    transition: 0.5s;
}

@media screen and (max-width: 600px){
    
    #forecast-icon-container{
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
#f-title{
    text-align: center;
    margin: 0%;
    padding: 0%;
}

.day-temp{
    font-size: 12px;
}


/*---------------------------------*/
/*hourly forecast data css*/
#hourly{
    display: flex;
    grid-area: "hour";
    flex-direction: column;
    align-items: center;
}

#chart-container{
    position: relative;
    height: 45vh;
    width: 380px;
}

#h-title{
    padding: 0%;
    margin-top: -24px ;
}


/*---------------------------------*/
/*weathermap box data css*/

#weather{
    grid-column: 1/3;
    padding: 0%;
    grid-area: "weather";
}

#weathermap{
    height: 300px;
    border-radius: 15px;
    margin: 25px;
}

#w-title{
    text-align: center;
    margin:-14px ;
}


#w-buttons-container{
    display: flex;
    flex: 1;
    justify-content: center;
    border-radius: 4px;
    margin: 24px;
    border: 1px solid #d1d1d1;
    padding: 0%;
}

.w-b-span{
    flex: 1;
    text-align: center;
}

.w-buttons{
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border: none;
    margin-right: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 8px;
}

.w-buttons:hover{
    background-color: #c7c7c7;
    transition: 0.5s;
}

@media screen and (max-width: 1200px){
    .data-container{
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width: 590px){
        
        .w-buttons{
            font-size: 2vw;
        }
    }  
}

