html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.fluid {
    margin: 0;
    padding: 0;
}

.main__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    color: white;
}

.text_shadow {
    text-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.container_shadow {
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.10);
}
.box {
    background-color: rgba(0,0,0,0.75);
    color: white;
    font-family: "Roboto", sans-serif;
}

.main__data__icon {
    font-size: 11px;
}

.main__data__weather {
    margin: 0.5rem 0 0.5rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.main__data__temp {
    margin: 0;
    padding: 0;
    font-size: 84px;
    font-family: "Montserrat", sans-serif;
}

.main__data__city {
    margin: 0.5rem 0 0.5rem 0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.main__search {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 300px;
}

.main__search__input {
    padding: 0.8rem;
    text-align: center;
    border-radius: 50px;
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: hsl(0, 0%, 15%);
}

.info {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: 1fr 1fr;
    gap: 1rem;
}

.info__general {
    padding: 1.5rem;
}

.info__general__upper {
    display: flex;
    justify-content: space-between;
}

.info__general__text__time {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.info__general__text__location {
    margin: 1rem 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
}

.info__general__upper__temp {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.info__general__lower {
    display: flex;
    justify-content: space-between;
}

.info__general__lower__data {
    font-size: 0.9rem;
}

.info__forecast {
    grid-column-start: 2;
    grid-column-end: 4;
}
