:root {
    --sm: '640px';
    --md: '768px';
    --lg: '1024px';
    --xl: '1280px';
    --xxl: '1536px';
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightblue;
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
}

.text_shadow {
    text-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.frontmountain {
    background-color: black;
}

.container_shadow {
    box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.10);
    -webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.10);
}


.fluid {
    margin: 0;
    padding: 0;
}

.page {
    /* background-image: url('../images/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; */
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    height: 100%;
}

.page__background__svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 10;
    padding-bottom: 5rem;
}

.main--close {
    display: none;
}

.main__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    color: white;
}

.main__data__icon {
    font-size: 11px;
}

.main__data__weather {
    margin: 0.5rem 0 0.5rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.main__data__temp {
    margin: 0;
    padding: 0;
    font-size: 84px;
    font-family: "Montserrat", sans-serif;
}

.main__data__city {
    margin: 0.5rem 0 0.5rem 0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.main__search {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 300px;
    position: relative;
}

.main__search__input {
    padding: 0.8rem;
    text-align: center;
    border-radius: 50px;
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: hsl(0, 0%, 15%);
}

.main__scrolldown {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    position: relative;
    /* margin-top: auto; */
}

.main__scrolldown__btn {
    display: block;
    background: none;
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

.main__suggestions {
    background-color: white;
    max-height: 300px;
    position: absolute;
    top: 0;
    margin-top: 17%;
    width: 100%;
    z-index: 5;
    border-radius:12px;
}

.main__suggestions--close {
    display: none;
}

.main__suggestions__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.main__suggestions__item {
    margin: 0;
}

.main__suggestions__btn {
    background: none;
    border: none;
    outline: none;
    color: rgb(54, 54, 54);
    width: 100%;
    text-align: left;
    padding: 0.5rem;
}

.main__suggestions__btn:hover {
    background-color: hsl(0, 0%, 90%);
}

.main__scrolldown__icon {
    margin-right: 1rem;
    color: white;
}

.box {
    background-color: rgba(0,0,0,0.75);
    color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 12px;
    overflow: hidden;
}

.info {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 10;
}

.info--open {
    display: flex;
}

.info__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 1rem;
}

.info__back__button {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    background: none;
    border: none;
    outline: none;
}

.info__back__button__text {
    margin-left: 0.5rem;
}

.general {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.general__upper {
    display: flex;
    justify-content: space-between;
}

.general__text__time {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: rgba(255,255,255,0.80);

}

.general__text__location {
    margin: 1rem 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

.general__text__feels {
    font-size: 0.9rem;
    color: rgba(255,255,255,0.80);
}

.general__lower__title {
    color: rgba(255,255,255,0.80);
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
}

.general__upper__temp {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.general__lower {
    display: flex;
    justify-content: space-between;
}

.general__lower__item {
    text-align: center;
}

.general__lower__data {
    font-size: 0.9rem;
}

.forecast {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.forecast__list {
    margin: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.forecast__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

.forecast__item:hover {
    background-color: rgba(0,0,0,0.50);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.forecast__item__day {
    font-size: 0.8rem;
}

.forecast__item__weather {
    font-weight: bold;
    margin: 1rem 0;
    margin-bottom: 1.5rem;
}

.forecast__item__temp {
    font-size: 0.8rem;
}

.weathermap {
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}

.weathermap__leaflet {
    background-color: rgba(0,0,0);
    height: 100%;
    width: 100%;
    z-index: 90;
}

.weathermap__buttoncontainer {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 91;
    width: fit-content;
    padding: 1rem;
}

.weathermap__button {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
    background: white;
    outline: none;
    border: none;
    color: hsl(0, 0%, 30%);
    border-radius: 50px;
}

.weathermap__button:hover {
    background-color: hsl(221, 74%, 63%);
    color: white;
    cursor: pointer;
}

.weathermap__button:active {
    background-color: hsl(221, 78%, 58%);
}

.weathermap__button--active {
    background-color: hsl(221, 78%, 58%);
}

.hourforecast {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourforecast__title {
    font-family: "Roboto", sans-serif;
}

.hourforecast__container {
    height: 90%;
    width: 90%;
    position: relative;
    padding: 1em;
}

#hourforecast-graph {
    width: 100%;
    height: 100%;
}

.darkbg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.75);
    top: 0;
    left: 0;
    z-index: 100;
}

.darkbg--close {
    display: none;
}

.modal--close {
    display: none;
}

.modal {
    background-color: rgb(27, 27, 27);
    position: fixed;
    width: 50vw;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.modal__current {
    display: flex;
    align-items: center;
}

.modal__header__weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}

.modal__header__desc {
    font-family: "Montserrat", sans-serif;
}

.modal__header__day {
    font-size: 0.9rem;
}

.modal__header__temp {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 1rem;
}

.modal__header__closebtn {
    background: none;
    outline: none;
    border: none;
    color: white;
}

.modal__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgba(255,255,255,0.70);
}

.modal__forecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgba(255,255,255,0.70);
}

footer {
    font-family: "Roboto", sans-serif;
    color: rgba(255,255,255,0.50);
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    z-index: 10;
}

.footer__link {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 1500px) {
    .page {
        padding: 0 10rem;
    }

    .info__container {
        grid-template-rows: 250px 300px;
    }
}

@media only screen and (min-width: 2200px) {
    .page {
        padding: 0 30rem;
    }

    .info__container {
        grid-template-rows: 350px 500px;
    }
}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 978px) {
    .box {
        background-color: rgba(0,0,0,0.75);
    }

    .page {
        /* padding: 1rem; */
        padding: 1rem 2rem;
    }

    .page__background__svg {
        height: 100%;
        width: auto;
    }

    .info {
        height: 100%;
        flex-direction: column;
    }

    .info__container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 250px 250px auto auto;
        background: none;
        row-gap: 1rem;
        width: 100%;
        height: 100%;
        margin-bottom: 1.5rem;
        overflow-y: scroll;
    }

    .general {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .general__lower {
        justify-content: start;
    }

    .general__lower__item {
        margin-right: 2rem;
    }

    .forecast {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0.5rem;
    }

    .weathermap {
        height: 350px;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .hourforecast {
        height: 350px;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .hourforecast__container {
        width: 100%;
    }

    footer {
        margin-bottom: 1rem;
    }

    .modal {
        width: 80%;
    }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
    .page {
        padding: 0.3rem;
        box-sizing: border-box;
    }
    
    .page__background__svg {
        height: 100%;
        width: auto;

    }

    .box {
        background: none;
    }

    .info {
        margin: 0.5rem;
        background-color: rgba(0,0,0,0.75);
        height: 100%;
        overflow: scroll;
    }

    .info__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 0;
    }

    .general {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .forecast {
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 0.5rem;
    }

    .weathermap {
        height: 350px;
        padding: 1rem;
    }

    .hourforecast {
        padding: 1rem;
        padding-top: 0;
        height: 350px;
    }

    .hourforecast__container {
        width: 100%;
    }

    .forecast__list {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    footer {
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;
    }
   
    .modal {
        width: 70%;
    }

    .footer__source {
        display: none;
    }
}
