html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.page {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.page__background__svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vh;
}

.fluid {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.initialload {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
}

.initialload--close {
  display: none;
}

.initialload__icon {
  animation: spin 1s infinite linear;
}

.text_shadow {
  text-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

main {
  min-height: 100%;
  min-width: 100%;
  z-index: 10;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.main__data__icon {
  font-size: 11px;
}

.main__data__weather {
  margin: 0.5rem 0 0.5rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.main__data__temp {
  margin: 0;
  padding: 0;
  font-size: 84px;
  font-family: "Montserrat", sans-serif;
}

.main__data__city {
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.main__search {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 300px;
  position: relative;
}

.main__search__input {
  padding: 0.8rem;
  text-align: center;
  border-radius: 50px;
  outline: none;
  border: none;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 15%);
}

.main__scrolldown {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  /* margin-top: auto; */
}

.main__scrolldown__btn {
  display: block;
  background: none;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
}

.main__suggestions {
  background-color: white;
  max-height: 300px;
  position: absolute;
  top: 0;
  margin-top: 17%;
  width: 100%;
  z-index: 5;
  border-radius:12px;
}

.main__suggestions--close {
  display: none;
}

.main__suggestions__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.main__suggestions__item {
  margin: 0;
}

.main__suggestions__btn {
  background: none;
  border: none;
  outline: none;
  color: rgb(54, 54, 54);
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}

.main__suggestions__btn:hover {
  background-color: hsl(0, 0%, 90%);
}

.main__scrolldown__icon {
  margin-right: 1rem;
  color: white;
}

.info {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 10;
}

.info--open {
  display: flex;
}

.darkbg--close {
  display: none;
}

.modal--close {
  display: none;
}

.modal {
  background-color: rgb(27, 27, 27);
  position: fixed;
  width: 50vw;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.modal__current {
  display: flex;
  align-items: center;
}

.modal__header__weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.modal__header__desc {
  font-family: "Montserrat", sans-serif;
}

.modal__header__day {
  font-size: 0.9rem;
}

.modal__header__temp {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
}

.modal__header__closebtn {
  background: none;
  outline: none;
  border: none;
  color: white;
}

.modal__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: rgba(255,255,255,0.70);
}

.modal__forecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: rgba(255,255,255,0.70);
}

footer {
  font-family: "Roboto", sans-serif;
  color: rgba(255,255,255,0.50);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  z-index: 10;
  flex-shrink: 0;
  padding: 1rem;
}

.footer__link {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.footer__source {
  text-align: right;
  padding-right: 1rem;
}

.footer__dev {
  text-align: left;
  padding-left: 1rem;
}

.footer--snow {
  color: rgb(42, 94, 172);
}

.frontmountain, 
.backmountain, 
.fronttrees,
.backtrees,
.skytop,
.skybottom 
.cloud
{
    transition: 800ms ease;
}

.cloud--disable {
    fill-opacity: 0;
}

.frontmountain--cloudy {
    fill: #355964;
}
.backmountain--cloudy {
    fill: #668086;
}

.fronttrees--cloudy {
    fill: #01343F;
}

.backtrees--cloudy {
    fill: #03444D;
}

.skytop--cloudy {
    stop-color: #558FA1;
}

.skybottom--cloudy {
    stop-color: white;
}

/*-----snow-------*/
.frontmountain--snow {
    fill: #1E8AA1;
}
.backmountain--snow {
    fill: #41A4BA;
}

.fronttrees--snow {
    fill: #8BE3FF;
}

.backtrees--snow {
    fill: #4DC9FF;
}

.skytop--snow {
    stop-color: #A1CDFF;
}

.skybottom--snow {
    stop-color: #D9EDFF;
}

.laketop--snow {
    fill: #3AC2DF;
}

.lakebottom--snow {
    fill: #32A9FF;
}
